@charset "uft-8";

/*main*/
header {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

header>#logo {
    width: 130px;
    height: 70px;
    float: left;
    margin: 20px 0 0 20px;
}

header>#logo>a>img {
    width: 100%;
    height: 100%;
}

nav {
    width: 740px;
    height: 30px;
    float: right;
    margin: 30px 30px 0 0px;
}

nav>ul>li>a {
    font-size: 17px;
    float: left;
    margin: 0px 25px;
    font-weight: bold;
}

nav>ul>li>a:hover {
    color: green;
}


#slider {
    width: 1100px;
    height: 450px;
    margin: 0 auto;
}

#slider>img {
    width: 100%;
    height: 100%;
}

section {
    width: 1100px;
    height: 280px;
    margin: 0 auto;
}

section>article {
    width: 340px;
    height: 145px;
    float: left;
    margin: 50px 10px;
}

article>h3 {
    font-size: 15px;
}

article>h4 {
    font-size: 13px;
}

article>p>a {
    font-size: 12px;
}

article>a>img {
    float: left;
    margin: 10px 10px 0 0;
}

.img1 {
    width: 100%;
    height: 110px;
    float: left;
    margin: 10px 10px 0 0;
}

article>a>.iconbox {
    width: 90px;
    height: 90px;
    text-align: center;
    float: left;
    margin: 10px 20px 10px 0px;
}

article>a>.iconbox>span {
    display: block;
    font-size: 11px;
}


footer {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    background-color: #eee;
}

footer>img {
    width: 100px;
    height: 50px;
    float: left;
    margin: 20px 0 0 30px;
}

footer>p {
    font-size: 12px;
    float: right;
    margin: 30px 20px 0 0px;
}