   @charset "uft-8";

   /*reset*/
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   ul,
   ol,
   li {
       list-style: none;
       margin: 0;
       padding: 0;
   }

   a {
       text-decoration: none;
       color: #000;
   }